.contact .contact-form, .contact .contact-others, .product-container .product-subcontainer .product-inner, .product-container .product-subcontainer, main .options .options-registrarse, main .options .options-acceder, .higlights-grid .hl-first-article .card-container, .higlights-grid .hl-second-article .card-container, .higlights-grid .hl-third-article .card-container {
  display: flex;
  flex-direction: column;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html body {
  font-size: 62.5%;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: #FFFFFF;
}

.contact .contact-form, .contact .contact-others, .product-container .product-subcontainer .product-inner, .product-container .product-subcontainer, main .options .options-registrarse, main .options .options-acceder, .higlights-grid .hl-first-article .card-container, .higlights-grid .hl-second-article .card-container, .higlights-grid .hl-third-article .card-container {
  display: flex;
  flex-direction: column;
}

#header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  height: auto;
  background-color: #ff052b;
}
#header .header-first-section {
  justify-self: start;
  align-self: center;
}
#header .header-first-section .navbar {
  background-color: #ff052b;
  margin: 0 auto;
}
#header .header-second-section {
  justify-self: center;
  align-self: center;
}
#header .header-second-section .logo {
  height: 1rem;
}
#header .header-third-section {
  justify-self: end;
  align-self: center;
}
#header .header-third-section .cuenta, #header .header-third-section .carrito {
  padding-right: 0.5rem;
}

@media (min-width: 1024px) {
  #header {
    height: auto;
  }
  #header .header-first-section .navbar .container-fluid .collapse .navbar-nav .nav-link {
    font-size: 0.8rem;
    font-weight: 500;
  }
  #header .header-second-section .logo {
    height: 7vh;
  }
  #header .header-third-section .cuenta, #header .header-third-section .carrito {
    height: 2.2rem;
  }
}
.contact .contact-form, .contact .contact-others, .product-container .product-subcontainer .product-inner, .product-container .product-subcontainer, main .options .options-registrarse, main .options .options-acceder, .higlights-grid .hl-first-article .card-container, .higlights-grid .hl-second-article .card-container, .higlights-grid .hl-third-article .card-container {
  display: flex;
  flex-direction: column;
}

/* index */
.main-h1 {
  font-size: 1.6rem;
  margin: 1rem 0.5rem;
  opacity: 0.5;
  font-family: "Nunito", sans-serif;
}

#carousel-main .carousel-indicators {
  margin-left: auto;
  margin-right: auto;
}
#carousel-main .carousel-inner {
  height: auto;
  width: min(95%, 1100px);
  margin: auto;
}
#carousel-main .carousel-inner img {
  height: 30vh;
}
#carousel-main .carousel-btn {
  padding: 0 auto;
}

.index-main-h2 {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1.2rem;
  font-family: "Nunito", sans-serif;
}

.higlights-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  padding: 0.3rem;
  margin: 1.2rem 1.5rem;
}
.higlights-grid .hl-first-article, .higlights-grid .hl-second-article, .higlights-grid .hl-third-article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}
.higlights-grid .hl-first-article .card-container:hover, .higlights-grid .hl-second-article .card-container:hover, .higlights-grid .hl-third-article .card-container:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
}
.higlights-grid .hl-first-article .card-container, .higlights-grid .hl-second-article .card-container, .higlights-grid .hl-third-article .card-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.695);
  border-radius: 10px;
  align-items: stretch;
  margin: 0.8rem;
}
.higlights-grid .hl-first-article .card-container .card-container-img, .higlights-grid .hl-second-article .card-container .card-container-img, .higlights-grid .hl-third-article .card-container .card-container-img {
  flex: 0 0 60%;
  overflow: hidden;
}
.higlights-grid .hl-first-article .card-container .card-container-img .card-img, .higlights-grid .hl-second-article .card-container .card-container-img .card-img, .higlights-grid .hl-third-article .card-container .card-container-img .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.higlights-grid .hl-first-article .card-container .card-body, .higlights-grid .hl-second-article .card-container .card-body, .higlights-grid .hl-third-article .card-container .card-body {
  flex: 0 0 40%;
  text-align: center;
}
.higlights-grid .hl-first-article .card-container .card-body .card-product, .higlights-grid .hl-second-article .card-container .card-body .card-product, .higlights-grid .hl-third-article .card-container .card-body .card-product {
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
}
.higlights-grid .hl-first-article .card-container .card-body .card-product-description, .higlights-grid .hl-second-article .card-container .card-body .card-product-description, .higlights-grid .hl-third-article .card-container .card-body .card-product-description {
  font-size: 0.8rem;
  opacity: 0.8;
  font-family: "Nunito", sans-serif;
}
.higlights-grid .hl-first-article .card-container .card-body .buy, .higlights-grid .hl-second-article .card-container .card-body .buy, .higlights-grid .hl-third-article .card-container .card-body .buy {
  padding: 0.2rem 1rem;
  font-family: "Nunito";
  font-size: 0.8rem;
}
.higlights-grid .hl-third-article {
  display: none;
}

/* cuenta */
main .micuenta-h2 {
  font-size: 1.2rem;
  font-family: "Nunito", sans-serif;
}

main .options {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  padding: 0.5em 1em;
}
main .options .options-acceder {
  margin: 0rem 1.5rem;
  font-family: "Nunito", sans-serif;
}
main .options .options-acceder .remember-container-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0.5rem 0rem;
}
main .options .options-acceder .remember-container-flex .forgot-password {
  margin: 0rem 0.5rem;
}
main .options .options-acceder .remember-container-flex .remember-button {
  margin: 0rem 0.1rem;
}
main .options .options-acceder .acceder-container-flex {
  display: flex;
  justify-content: flex-end;
}
main .options .options-acceder .acceder-container-flex .acceder {
  padding: 0.2rem 1rem;
}
main .options .options-registrarse {
  margin: 0rem 1.5rem;
  font-family: "Nunito", sans-serif;
}
main .options .options-registrarse .terms-container-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0.5rem 0rem;
}
main .options .options-registrarse .terms-container-flex .terms-checkout {
  margin: 0rem 0.1rem;
}
main .options .options-registrarse .registrarse {
  display: flex;
  justify-content: flex-end;
}
main .options .options-registrarse .registrarse .registrarse-button {
  padding: 0.2rem 1rem;
}

/* productos */
.search-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.search-container .d-flex {
  padding: 0;
}
.search-container .dropdown {
  padding-left: 1rem;
}

.product-title {
  font-size: 1.4rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  margin: 0.8rem;
}

.product-subtitle {
  font-size: 1.1rem;
  font-family: "Nunito", sans-serif;
  margin: 1rem 1.2rem;
  opacity: 0.4rem;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 1rem;
}
.product-container .product-subcontainer {
  justify-content: center;
  align-items: center;
}
.product-container .product-subcontainer .product-inner {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.695);
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 0.2rem 0;
  width: 10rem;
}
.product-container .product-subcontainer .product-inner .product-img {
  max-width: 100%;
  height: 8rem;
}

/* contacto */
.contact-h2 {
  font-size: 1.2rem;
  text-align: justify;
  font-family: "Nunito", sans-serif;
}

.contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  padding: 0.5rem 1rem;
}
.contact .contact-form, .contact .contact-others {
  justify-content: center;
  margin: 0rem 1rem;
  font-family: "Nunito", sans-serif;
}
.contact input, .contact textarea {
  width: 100%;
}
.contact a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #141313;
}
.contact img {
  height: 2rem;
  width: 2rem;
}

/* carrito */
.card-carrito {
  display: flex;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  margin: 1rem 0.5rem;
}
.card-carrito .img-card {
  flex: 1;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  margin: 0.2rem 0.1rem;
  height: 10rem;
  width: auto;
}
.card-carrito .text-card {
  flex: 2;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 0.2rem 0.1rem;
}
.card-carrito .text-card .btn-close {
  align-self: end;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
.card-carrito .text-card .btn-close:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
}
.card-carrito .text-card .card-carrito-title {
  align-self: start;
  font-weight: 500;
  margin: 0.2rem 0.3rem;
  font-size: 1.1rem;
}
.card-carrito .text-card .card-carrito-subtitle {
  align-self: start;
  margin: 0 0.2rem 0 0.2rem;
  font-size: 0.8rem;
  opacity: 0.7;
}

.carrito-options {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0rem 0.5rem 1rem 0.5rem;
}
.carrito-options .cancel {
  padding: 0.3rem 0.8rem;
  font-family: "Nunito";
  font-size: 0.8rem;
  border-radius: 4px;
  margin: 0.2rem 0.3rem 0.2rem 0;
}
.carrito-options .buy {
  padding: 0.3rem 0.8rem;
  font-family: "Nunito";
  font-size: 0.8rem;
  border-radius: 4px;
  margin: 0.2rem 0.3rem 0.2rem 0;
}

.higlights-grid .hl-first-article .card-container, .higlights-grid .hl-second-article .card-container, .higlights-grid .hl-third-article .card-container, main .options .options-acceder, main .options .options-registrarse, .product-container .product-subcontainer, .product-container .product-subcontainer .product-inner, .contact .contact-form, .contact .contact-others {
  display: flex;
  flex-direction: column;
}

/* index */
@media (min-width: 1024px) {
  .main-h1 {
    font-size: 2.8rem;
  }
  #carousel-main {
    height: auto;
    width: 90%;
    margin: auto;
  }
  #carousel-main img {
    height: auto;
  }
  #carousel-main .carousel-control-prev-icon, #carousel-main .carousel-control-next-icon {
    filter: invert(100%);
  }
  .index-main-h2 {
    margin-top: 2rem;
    font-size: 2rem;
  }
  .higlights-grid {
    grid-template-columns: repeat(3, 1fr);
    width: 65%;
    gap: 5px;
    margin-inline: auto;
  }
  .higlights-grid .hl-first-article, .higlights-grid .hl-second-article {
    padding: 0.2rem 0;
  }
  .higlights-grid .hl-third-article {
    display: block;
    display: flex;
    flex-direction: column;
    padding: 0.2rem 0;
  }
}
/* cuenta */
@media (min-width: 1024px) {
  main .main-h1 {
    font-size: 1.8rem;
  }
  main .options {
    display: flex;
    width: 85%;
    justify-content: space-around;
    margin: 5rem auto;
  }
  main .options .options-acceder {
    display: flex;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    width: 75%;
    padding: 1rem 1.5rem;
    flex: 1;
  }
  main .options .options-acceder .micuenta-h2 {
    font-size: 1.5rem;
  }
  main .options .options-acceder .complete-info {
    font-size: 0.8rem;
  }
  main .options .options-registrarse {
    display: flex;
    justify-content: start;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    width: 75%;
    padding: 1rem 1.5rem;
    flex: 1;
  }
  main .options .options-registrarse .micuenta-h2 {
    font-size: 1.5rem;
  }
  main .options .options-registrarse .complete-info {
    font-size: 0.8rem;
  }
}
/* contacto */
@media (min-width: 1024px) {
  main .main-h1 {
    font-size: 1.8rem;
  }
  main .contact {
    display: flex;
    width: 85%;
    justify-content: space-around;
    margin: 5rem auto;
  }
  main .contact .contact-form {
    flex: 1;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 1rem 1.5rem;
  }
  main .contact .contact-form .contact-h2 {
    font-size: 1.5rem;
  }
  main .contact .contact-others {
    flex: 1;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 1rem 1.5rem;
  }
  main .contact .contact-others .contact-container {
    margin-bottom: 1rem;
  }
  main .contact .contact-others .contact-container .contact-h2 {
    font-size: 1.5rem;
  }
}
/* productos */
@media (min-width: 1024px) {
  .productos-main {
    display: flex;
    width: 90%;
  }
  .productos-main .search-container {
    display: inline-block;
    flex: 1;
    margin-top: 0;
    height: 10rem;
  }
  .productos-main .search-container .dropdown {
    display: flex;
    justify-content: flex-end;
  }
  .productos-main .product-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    flex: 2;
  }
  .productos-main .product-main-container .product-title {
    margin-top: 0;
    font-size: 1.5rem;
  }
  .productos-main .product-main-container .product-subtitle {
    margin-top: 0;
    font-size: 1.2rem;
  }
  .productos-main .product-main-container .product-container .product-subcontainer {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 !important;
    align-content: center;
  }
}
/* carrito */
@media (min-width: 1024px) {
  .card-carrito {
    width: 50%;
    margin: auto;
    margin: 1rem auto;
  }
  .card-carrito .text-card .card-carrito-title {
    font-size: 1.2rem;
  }
  .card-carrito .text-card .card-carrito-subtitle {
    font-size: 1rem;
  }
  .carrito-options {
    width: 55%;
    margin: 1rem auto;
  }
}
.higlights-grid .hl-first-article .card-container, .higlights-grid .hl-second-article .card-container, .higlights-grid .hl-third-article .card-container, main .options .options-acceder, main .options .options-registrarse, .product-container .product-subcontainer, .product-container .product-subcontainer .product-inner, .contact .contact-form, .contact .contact-others {
  display: flex;
  flex-direction: column;
}

#footer {
  background-color: #ff052b;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}
#footer .footer-part-one, #footer .footer-part-two, #footer .footer-part-three {
  padding: 0.5rem 0.5rem;
}
#footer .footer-part-one .footer-title, #footer .footer-part-two .footer-title, #footer .footer-part-three .footer-title {
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  text-align: center;
}
#footer .footer-part-one .footer-information, #footer .footer-part-two .footer-information, #footer .footer-part-three .footer-information {
  font-size: 0.8rem;
  font-family: "Nunito", sans-serif;
  padding: 0rem 1rem;
}
#footer .footer-part-three {
  display: none;
}

.wsp-fixed {
  position: fixed;
  right: 0;
  bottom: 0;
}
.wsp-fixed .wsp-img {
  height: 3rem;
  width: 3rem;
}

.higlights-grid .hl-first-article .card-container, .higlights-grid .hl-second-article .card-container, .higlights-grid .hl-third-article .card-container, main .options .options-acceder, main .options .options-registrarse, .product-container .product-subcontainer, .product-container .product-subcontainer .product-inner, .contact .contact-form, .contact .contact-others {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
