/* contacto */

.contacto-h2 {
    font-size: 1.2rem;
    text-align: justify;
    font-family: 'Nunito', sans-serif;
}

.contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);

    gap: 1rem;
    padding: 0.5rem 1rem;

        .contact-form, .contact-others {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0rem 1rem;
            font-family: 'Nunito', sans-serif;

                input, textarea {
                    width: 100%;
                }

                a {
                    font-size: 0.8rem;
                    text-decoration: none;
                    color: #141313;
                }

                img {
                    height: 2rem;
                    width: 2rem;
                }
    }
}