// mixin boton

@mixin btn-mobile ($padding, $font, $font-size){
    padding: $padding;
    font-family: $font;
    font-size: $font-size;
}

@mixin titles ($size, $font, $weight,){
    font-size: $size;
    font-family: $font;
    font-weight: $weight;
}

@mixin titles-opacity ($size, $font, $opacity){
    font-size: $size;
    font-family: $font;
    opacity: $opacity;
}
