// colores para body

$color-main: #040404;

$color-body: #f2f2f2;

// elementos card

$shadow-card: 0 0 10px rgba(0, 0, 0, 0.695);

$shadow-card-hover: 0 0 12px rgba(0, 0%, 0%, 0.800);

$border-card: 10px;

// elementos section

$shadow-card-section: 0 0 6px rgba(0, 0, 0, 0.200);

$border-card-section: 6px;

// elementos botones

$border-card-btn: 12px;

$btn-background: #000000f4;

$btn-active: scale(1.05);

$btn-shadow: drop-shadow(0 10px 5px rgba(0,0,0,0.125));

// input

$input-outline: 1px solid #2c3e51;