@import "../../utils/extend";

@import "../../utils/mixin";

@import "../../utils/vars";

/* contacto - mobile */

/* contenedor principal */     
.contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    padding: 0.5rem 1rem;

    /* contenedor secundario */
    .contact-form {
        @extend %flex-column;
        @extend %card-padding-margin;
        box-shadow: $shadow-card-section;
        border-radius: $border-card-section;

        .contact-h2 {
            @include titles(1.2rem, 'Nunito', 500);
            text-align: start;
        }

        .form-label{
            width: 100%;
            @include titles(0.8rem, 'Nunito', 400);
            margin: 0.5rem auto 0 auto;
        }

        .form-input{
            width: 100%;
            @extend %input;
        }

        .form-input:focus{
            outline: $input-outline;
        }

        .contact-container {
            text-align: end;

            .contactar{
                @include btn-mobile(0.2rem 1rem,'Nunito', 0.8rem);
                background-color: $btn-background;
                border-radius: $border-card-btn;
                color: whitesmoke;
                border: none;
                margin-top: 0.5rem;
            }
        }
    }

    /* contenedor secundario */
    .contact-others {
        @extend %flex-column;
        justify-content: center;
        @extend %card-padding-margin;
        box-shadow: $shadow-card-section;
        border-radius: $border-card-section;
        font-family: 'Nunito', sans-serif;

        .contact-apart {
            flex: 1;
            display: flex;
            align-items: center;

            .contact-subapart {

                .contact-h2 {
                    @include titles(1.2rem, 'Nunito', 500);
                    text-align: start;
                }

                a {
                    font-size: 0.8rem;
                    text-decoration: none;
                    color: #141313;
                    }
        
                img {
                    height: 2rem;
                    width: 2rem;
                    }
            }      
        }
    }
}

/* tablet */

@media (min-width: 600px){

    main {

        /* contenedor principal */
        .contact {
            display: flex;
            width: 95%;
            justify-content: space-around;
            margin: 5rem auto;

            /* subcontenedor */
            .contact-form {
                flex: 1;
                width: 100%;
                padding: 1rem;

                .contact-h2 {
                    font-size: 1.4rem;
                }

                form {

                    .form-label {
                        font-size: 0.9;
                    }
                }
            }

            /* subcontenedor */
            .contact-others {
                flex: 1;
                width: 100%;
                padding: 1rem;

                .contact-apart {

                    .contact-subapart {

                        .contact-h2{
                            font-size: 1.4rem;
                        }

                        a{
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
}

/* desktop */

@media (min-width:1024px){

    main {

        .contact {
            display: flex;
            width: 85%;
            justify-content: space-around;
            margin: 5rem auto;
            
            .contact-form{
                max-width: 31.25rem;

                .contact-h2{
                    font-size: 1.5rem;
                }
            }

            .contact-others{
                max-width: 31.25rem;

                .contact-apart {
                    
                    .contact-subapart {

                        .contact-h2{
                            font-size: 1.5rem;
                        }

                        a {
                            font-size: 1rem;
                        }

                        img {
                            height: 2.2rem;
                            width: 2.2rem;
                        }
                    }

                }
            }
        }


    }
}

