@import "../../utils/extend";

@import "../../utils/mixin";

@import "../../utils/vars";

/* cuenta - mobile */

/* contenedor principal */
main .options {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
        
    gap: 1rem;
    padding: 0.5em 1em;
        
    /* subcontenedor para acceder */
    .options-acceder {
        @extend %flex-column;
        @extend %card-padding-margin;
        box-shadow: $shadow-card-section;
        border-radius: $border-card-section;

        /* formulario */
        .access-form {

            .micuenta-h2 {
                @include titles(1.2rem, 'Nunito', 500);
            }
    
            .complete-info {
                @include titles(0.75rem, 'Nunito', 400);
                width: 100%;
                margin: 0.5rem auto 0 auto;
            }

            .info {
                width: 100%;
                @extend %input;
            }

            .info:focus {
                outline: $input-outline
            }
            
            /* 'olvide contraseña' y 'recuerdame'  */
            .remember-container-flex {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin: 0.5rem 0rem;
            
                    .forgot-password {
                        margin: 0rem 0.5rem;
                    }
            
                    .remember-button {
                        margin: 0rem 0.1rem;
                    }
                }
        
        /* contenedor para btn acceder */
        .acceder-container-flex {
            display: flex;
            justify-content: flex-end;
            
            .acceder {
                @include btn-mobile(0.2rem 0.8rem, 'Nunito', 0.7rem);
                border-radius: $border-card-btn;
                color: whitesmoke;
                background-color: $btn-background;
                border: none;
            }
    
            .acceder:active {
                transform: $btn-active;
                filter: $btn-shadow;
            }

            .acceder:hover {
                filter: $btn-shadow;
            }
        }
    }
}
    
    /* subcontenedor para registrarse */
    .options-registrarse {
        @extend %flex-column;
        @extend %card-padding-margin;
        box-shadow: $shadow-card-section;
        border-radius: $border-card-section;

        /* formulario */
        .register-form{

            .micuenta-h2 {
                @include titles(1.2rem, 'Nunito', 500);
            }
    
            .complete-info {
                @include titles(0.75rem, 'Nunito', 400);
                width: 100%;
                margin: 0.5rem auto 0 auto;
            }

            .info {
                width: 100%;
                @extend %input;
            }

            .info:focus {
                outline: $input-outline;
            }
            
            /* terminos y condiciones */
            .terms-container-flex {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin: 0.5rem 0rem;
            
                .terms-checkout {
                    margin: 0rem 0.1rem;
                    }
                }
            
            /* contenedor para btn registrarse */
            .registrarse {
                display: flex;
                justify-content: flex-end;
            
                .registrarse-button {
                    @include btn-mobile(0.2rem 0.8rem, 'Nunito', 0.7rem);
                    border-radius: $border-card-btn;
                    color: whitesmoke;
                    background-color: $btn-background;
                    border: none;
                }
    
                .registrarse-button:active {
                    transform: $btn-active;
                    filter: $btn-shadow;
                }

                .registrarse-button:hover {
                    filter: $btn-shadow;
                }
            }
        }
    }
}

/* tablet */

@media (min-width: 600px){
    
    main {

        /* Contenedor principal */

        .options {
            display: flex;
            justify-content: space-around;
            width: 95%;
            margin: 5rem auto;

            /* subcontenedor para acceder */
            .options-acceder {
                display: flex;
                width: 90%;
                flex: 1;

                .micuenta-h2 {
                    @include titles(1.3rem, 'Nunito', 500);
                }
        
                /* labels */
                .complete-info {
                    @include titles(0.8rem, 'Nunito', 400);
                }

                /* 'olvidé contraseña' y 'recuerdame' */
                .remember-container-flex {

                    .forgot-password {
                        @include titles(0.8rem, 'Nunito', 400);
                    }

                    .remember {
                        @include titles(0.8rem, 'Nunito', 400);
                    }
                }

                /* contenedor para btn acceder */
                .acceder-container-flex {
                    .acceder {
                        @include btn-mobile(0.25rem 0.8rem, 'Nunito', 0.8rem);
                    }
            }


            }

            /* subcontenedor para registrarse */
            .options-registrarse {
                display: flex;
                width: 90%;
                flex: 1;

                .micuenta-h2 {
                    @include titles(1.3rem, 'Nunito', 500);
                }

                .complete-info {
                    @include titles(0.8rem, 'Nunito', 400);
                }

                /* terminos y condiciones */
                .terms-container-flex {
                    .terms {
                        @include titles(0.8rem, 'Nunito', 400);
                    }
                }

                /* contenedor para btn registrarse */
                .registrarse {
                    .registrarse-button {
                        @include btn-mobile(0.25rem 0.8rem, 'Nunito', 0.8rem);
                    }
                }
            }
        }
    }
}

/* desktop */

@media (min-width:1024px){

    main {

        /* contenedor principal */
        .options {
            margin: 5rem auto;

            /* subcontenedor para acceder  */
            .options-acceder{
                width: 75%;
                max-width: 600px;

                .micuenta-h2 {
                    font-size: 1.4rem;
                }

                .complete-info {
                    font-size: 0.85rem;
                }
            }

            /* subcontenedor para registrarse */
            .options-registrarse{
                width: 75%;
                max-width: 600px;

                .micuenta-h2 {
                    font-size: 1.4rem;
                }

                .complete-info {
                    font-size: 0.85rem;
                }
            }
        }
    }
}