@import "../../utils/extend";

@import "../../utils/mixin";

@import "../../utils/vars";


/* index - mobile */

.main-h1 {
    @include titles-opacity(1.6rem, 'Nunito', 0.5);
    margin: 1rem 0.5rem;
}

#carousel-main{

    .carousel-indicators {
        margin-left: auto;
        margin-right: auto;
    }

    .carousel-inner {
        height: auto;
        width: 95%;
        max-width: 70rem;
        margin: auto;

        .carousel-img {
            height: 25vh;
        }
    }

    .carousel-btn {
        padding: 0 auto;
    }
}

.index-main-h2 {
    @include titles(1.4rem, 'Nunito', 600);
    text-align: center;
    margin-top: 1.2rem;
}

/* destacados */

.highlights-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: 1.2rem auto;

    /* cards */

    .card-container {
        box-shadow: $shadow-card;
        border-radius: $border-card;
        @extend %flex-column;
        align-items: stretch;
        max-height: 30rem;
        margin: 0.8rem;

            .card-container-img {
                flex: 2;
                object-fit: fill;
                overflow: hidden;

                    .card-img{
                        height: 100%;
                        width: 100%;
                        object-fit: fill;
                        }
                }

            .card-body {
                @extend %grid-card-three-rows;
                flex: 1;
                text-align: center;

                .card-product-container {
                    .card-product {
                        @include titles(1rem, 'nunito', 500);
                        margin: auto 0;
                        }
                }

                .card-description-container {
                    .card-product-description {
                        @include titles-opacity(0.8rem, 'nunito', 0.8);
                        }
                }

                .btn-container{
                    .buy {
                        @include btn-mobile(0.2rem 1rem,'Nunito', 0.8rem);
                        border-radius: $border-card-btn;
                        color: whitesmoke;
                        background-color: $btn-background;
                        border: none;
                        margin-bottom: 0;
                        }

                        .buy:hover {
                            transform: $btn-active;
                            filter: $btn-shadow;
                        }

                        .buy:active {
                            transform: $btn-active;
                            filter: $btn-shadow;
                        }
                }
            }
        }

    .card-container:hover{
        box-shadow: $shadow-card-hover;
        }
}

/* tablet */

@media (min-width:600px){
    
    /* carousel */

    #carousel-main {

        .carousel-inner {

            .carousel-img {
                height: 30vh;
            }
        }
    }
    
    /* higlights */
    
    .index-main-h2{
        margin-top: 1.5rem;
        font-size: 1.5rem;
    }
    
    .highlights-grid {
        grid-template-columns: repeat(3, 1fr);
        width: 95%;
        max-width: 900px;
        }
    }

/* desktop */

@media (min-width:1024px){
    .main-h1 {
        font-size: 1.7rem;
        }
    
    #carousel-main {
/*         margin: auto;
             
            img {
                height: auto;
            } */
    
        .carousel-control-prev-icon,.carousel-control-next-icon{
            filter: invert(100%);
            }
            
        }
    
    .index-main-h2 {
        font-size: 1.7rem;
    }
    
    .highlights-grid {
        margin-inline: auto;
        }
    }