@import "../utils/vars";

@import "../utils/mixin";

@import "../utils/extend";

/* index */

.main-h1 {
    font-size: 1.6rem;
    margin: 1rem 0.5rem;
    opacity: 0.5;
    font-family: 'Nunito', sans-serif;
}

#carousel-main{

    .carousel-indicators {
        margin-left: auto;
        margin-right: auto;
    }

    .carousel-inner {
        height: auto;
        width: min(95%, 1100px);
        margin: auto;

        img {
            height: 30vh;
        }
    }

    .carousel-btn {
        padding: 0 auto;
    }
}

.index-main-h2 {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1.2rem;
    font-family: 'Nunito', sans-serif;
}

.higlights-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;

    padding: 0.3rem;
    margin: 1.2rem 1.5rem;


        .hl-first-article,.hl-second-article,.hl-third-article {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 5px;

                .card-container:hover{
                    box-shadow: $shadow-card-hover;
                }

                .card-container {
                box-shadow: $shadow-card;
                border-radius: $border-card;
                @extend %flex-column;
                align-items: stretch;
                margin: 0.8rem;

                    .card-container-img {
                        flex: 0 0 60%;
                        overflow: hidden;

                        .card-img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        }
                    }

                    .card-body {
                        flex: 0 0 40%;
                        text-align: center;

                        .card-product {
                            font-size: 1rem;
                            font-family: 'Nunito', sans-serif;
                        }

                        .card-product-description {
                            font-size: 0.8rem;
                            opacity: 0.8;
                            font-family: 'Nunito', sans-serif;
                        }

                        .buy {
                            @include btn-mobile(0.2rem 1rem,'Nunito', 0.8rem);
                        }
                    }
            }
    }

    .hl-third-article {
        display: none;
    }
    
}

        /* cuenta */

main .micuenta-h2 {
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
        }
        
main .options {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
        
    gap: 1rem;
    padding: 0.5em 1em;
        
    .options-acceder {
        @extend %flex-column;
        margin: 0rem 1.5rem;
        font-family: 'Nunito', sans-serif;
        
        .remember-container-flex {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 0.5rem 0rem;
        
                .forgot-password {
                    margin: 0rem 0.5rem;
                }
        
                .remember-button {
                    margin: 0rem 0.1rem;
                }
            }
        
    .acceder-container-flex {
        display: flex;
        justify-content: flex-end;
        
        .acceder {
            padding: 0.2rem 1rem;
        }
    }
}
        
    .options-registrarse {
        @extend %flex-column;
        margin: 0rem 1.5rem;
        font-family: 'Nunito', sans-serif;
        
        .terms-container-flex {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 0.5rem 0rem;
        
            .terms-checkout {
                margin: 0rem 0.1rem;
                }
            }
        
        .registrarse {
            display: flex;
            justify-content: flex-end;
        
            .registrarse-button {
                padding: 0.2rem 1rem;
            }
        }
    }
}

        /* productos */

.search-container {
        display: flex;
        align-items: center;
        width: 100%;
            
        .d-flex {
            padding: 0;
        }
            
        .dropdown {
            padding-left: 1rem;
                }
        }
            
.product-title {
    font-size: 1.4rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    margin: 0.8rem;
        }
            
.product-subtitle {
    font-size: 1.1rem;
    font-family: 'Nunito', sans-serif;
    margin: 1rem 1.2rem; 
    opacity: 0.4rem;
        }
            
.product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1rem;
            
    .product-subcontainer {
        @extend %flex-column;
        justify-content: center;
        align-items: center;
            
        .product-inner {
            @extend %flex-column;
            border-radius: $border-card;
            box-shadow: $shadow-card;
            justify-content: center;
            align-items: center;           
            margin: 0.5rem;
            padding: 0.2rem 0;
            width: 10rem;
            
            .product-img {
                max-width: 100%;
                height: 8rem;
            }
        }
    }
}

        /* contacto */

.contact-h2 {
    font-size: 1.2rem;
    text-align: justify;
    font-family: 'Nunito', sans-serif;
}

.contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);

    gap: 1rem;
    padding: 0.5rem 1rem;

        .contact-form, .contact-others {
            @extend %flex-column;
            justify-content: center;
            margin: 0rem 1rem;
            font-family: 'Nunito', sans-serif;
                }

                input, textarea {
                    width: 100%;
                    }

                a {
                    font-size: 0.8rem;
                    text-decoration: none;
                    color: #141313;
                    }

                img {
                    height: 2rem;
                    width: 2rem;
                    }
    }

        /* carrito */

.card-carrito {
    display: flex;
    box-shadow: $shadow-card-section;
    margin: 1rem 0.5rem;

    .img-card {
        flex: 1;
        box-shadow: $shadow-card-section;
        margin: 0.2rem 0.1rem;
        height: 10rem;
        width: auto;
    }

    .text-card {
        flex: 2;
        box-shadow: $shadow-card-section;
        display: flex;
        flex-direction: column;
        margin: 0.2rem 0.1rem;

            .btn-close {
                align-self: end;
                box-shadow: $shadow-card-section;
                margin-top: 0.5rem;
                margin-right: 0.5rem;
            }

            .btn-close:hover{
                box-shadow: $shadow-card-hover;
            }

            .card-carrito-title {
                align-self: start;
                font-weight: 500;
                margin: 0.2rem 0.3rem;
                font-size: 1.1rem;
            }

            .card-carrito-subtitle {
                align-self: start;
                margin: 0 0.2rem 0 0.2rem;
                font-size: 0.8rem;
                opacity: 0.7;

            }
    }
}


.carrito-options {
    display: flex;
    justify-content: end;
    align-items: center;

    margin: 0rem 0.5rem 1rem 0.5rem;

        .cancel {
            @include btn-mobile(0.3rem 0.8rem, 'Nunito', 0.8rem);
            border-radius: $border-card-btn;
            margin: 0.2rem 0.3rem 0.2rem 0;
        }

        .buy {
            @include btn-mobile(0.3rem 0.8rem, 'Nunito', 0.8rem);
            border-radius: $border-card-btn;
            margin: 0.2rem 0.3rem 0.2rem 0;
        }
}