@import "../utils/vars";

@import "../utils/mixin";

@import "../utils/extend";

#footer {
    background-color: $color-main;
    display: flex;

    .footer-part-one,.footer-part-two,.footer-part-three{
        color: $color-body;
        margin: 0.5rem auto;
        width: 30%;
        
        .footer-title{
            @include titles (1rem, 'Nunito', 500);
            text-align: center;
            margin-top: 0;
        }

        .footer-information{
            @include titles (0.8rem, 'Nunito', 400);
            padding: auto 0;
        }
    }

}

@media (min-width: 600px){
    #footer {
        justify-content: space-evenly;

        .footer-part-one,.footer-part-two,.footer-part-three{
            width: 20%;
            margin: 0.5rem 1rem;

            .footer-title{
                @include titles (1.05rem, 'Nunito', 500);
            }
    
            .footer-information{
                @include titles (0.85rem, 'Nunito', 400);
            }
        }
    }
}

@media (min-width: 1024px){
    #footer {
        justify-content: center;

        .footer-part-one,.footer-part-two,.footer-part-three{
            width: 20%;
            margin: 0.5rem 2rem;

            .footer-title{
                @include titles (1.1rem, 'Nunito', 500);
            }
    
            .footer-information{
                @include titles (0.9rem, 'Nunito', 400);
            }
        }
    }
}