@import "../utils/vars";

@import "../utils/mixin";

@import "../utils/extend";

#header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);

    height: auto;

    background-color: $color-main;

    .header-first-section {
        justify-self: start;
        align-self: center;

        .navbar {
            background-color: $color-main;
            margin: 0 auto;
            
            .white {
                filter: invert(100%);
            }

            .menu {

                .menu-page {
                    @include titles (0.8rem, 'Nunito', 500);
                    color: $color-body;
                }

                .menu-page:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .header-second-section {
        justify-self: center;
        align-self: center;

        .logo {
            height: 100%;
            width: 100%;
            object-fit: fill;
            max-height: 3rem;
        }
    }

    .header-third-section {
        justify-self: end;
        align-self: center;

        .cuenta, .carrito {
            height: 2.2rem;
            padding-right: 0.5rem;
        }
    }
}

@media (min-width:1024px){
    #header {
        height: auto;

        .header-first-section{
            .navbar{
                .container-fluid{
                    .collapse{
                        .navbar-nav{
                            .nav-link{
                                font-size: 0.8rem;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }

        .header-second-section{
            .logo{
                /* height: 3rem; */
            }
        }

        .header-third-section{
            .cuenta, .carrito{
                height: 2.5rem;
            }
            }
        
    }
}