#header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);

    height: auto;

    background-color: pink;

    .header-first-section {
        justify-self: start;
        align-self: center;

        .navbar {
            background-color: pink;
            margin: 0 auto;
        }
    }

    .header-second-section {
        justify-self: center;
        align-self: center;

        .logo {
            height: 1rem;
        }
    }

    .header-third-section {
        justify-self: end;
        align-self: center;

        .cuenta, .carrito {
            padding-right: 0.5rem;
        }
    }
}

@media (min-width:1024px){
    #header {
        height: 10vh;

        .header-first-section{
            .navbar{
                .container-fluid{
                    .collapse{
                        .navbar-nav{
                            .nav-link{
                                font-size: 0.8rem;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }

        .header-second-section{
            .logo{
                height: 7vh;
            }
        }

        .header-third-section{
            .cuenta, .carrito{
                height: 2.2rem;
            }
            }
        
    }
}