        /* cuenta */

/* mobile */

main .micuenta-h2 {
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
}

main .options {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);

    gap: 1rem;
    padding: 0.5em 1em;

        .options-acceder {
            display: flex;
            flex-direction: column;
            margin: 0rem 1.5rem;
            font-family: 'Nunito', sans-serif;

                .remember-container-flex {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    margin: 0.5rem 0rem;

                    .forgot-password {
                        margin: 0rem 0.5rem;
                    }

                    .remember-button {
                        margin: 0rem 0.1rem;
                    }
        }

        .acceder-container-flex {
            display: flex;
            justify-content: flex-end;

                .acceder {
                    padding: 0.2rem 1rem;
                }
        }
        
    }

        .options-registrarse {
            display: flex;
            flex-direction: column;
            margin: 0rem 1.5rem;
            font-family: 'Nunito', sans-serif;

                .terms-container-flex {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    margin: 0.5rem 0rem;

                        .terms-checkout {
                            margin: 0rem 0.1rem;
                        }
                }

                .registrarse {
                    display: flex;
                    justify-content: flex-end;

                        .registrarse-button {
                            padding: 0.2rem 1rem;
                        }
                }
        }
}

/* desktop */

@media (min-width:1023px){

    main {

        .main-h1 {
            font-size: 1.8rem;
        }
        .options {
            display: flex;
            width: 85%;
            justify-content: space-around;
            margin: auto;
            border: 1px solid black;


            .options-acceder{
                display: flex;
                border: 1px solid black;
                width: 75%;
                flex: 1;

                .micuenta-h2 {
                    font-size: 1.5rem;
                }

                .complete-info {
                    font-size: 0.8rem;
                }
            }

            .options-registrarse{
                display: flex;
                justify-content: start;
                border: 1px solid black;
                width: 75%;
                flex:1;

                .micuenta-h2 {
                    font-size: 1.5rem;
                }

                .complete-info {
                    font-size: 0.8rem;
                }
            }
        }
    }
}